<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">


<suite name="Testing Test Apps">
<listeners>

	<listener class-name ="retryTestCase.MyTransformer" />

</listeners>

    <test name="Regression">
         <classes>
             <class name="retryTestCase.TestLevel"/>
          </classes>
     </test> 
</suite> 